/***************************
GENERAL
***************************/
body {
	background-color: #f2f2f2;
	color: #000;
}
button.large {
	width: 80px;
	height: 80px;

}

/***************************
Head of the page
***************************/



/***************************
Content of the page
***************************/



/***************************
footer of the page
***************************/



/***************************
Query Media
***************************/
@media (max-width: 639px ){
	.nav-desktop {
		display: none;
	}
}
@media(max-width: 876px) {

}

